@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
/* pagina de css de contacto y de colegio de jueces */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.encabezado {
    padding: 30px;
    background-color: rgb(88, 21, 21);

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap ;
    
}

.menu{
    list-style-type: none;
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
}

.logo{
    
    width:50px;
    border: 50px;
    border:solid black;
    

}

.titulo{
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: solid white;
}

.menu_item a {
    color: white;
    text-decoration: none;
    
}


.slt {
    
    color:white;
    
    padding: 100px;
    margin-bottom: 30px;
    border-radius: 20px;
    font-size: italic;
    font-weight: bold;
    font-size: 20px;
    font-family: monospace;
    text-align: center;
    line-height: 70x;
    
    background-image: url("../imagenes/jugador\ slt.jpg");
    background-repeat:no-repeat;
    background-position:top center;
    background-size:cover;
    background-attachment: fixed;
}

.logomin{
    display: flex;
    justify-content: center;
}
.mindeporte{
    display: flex;
    justify-content: center;

}







/* 
FINAL DE PAGINA  */
.footer{
    color: white;
    background-color:  rgb(88, 21, 21);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
.enlace_f{
    color: white;
}
