// * {
// 	margin: 0;
// 	padding: 0;
// 	box-sizing: border-box;
// }
// .logo-primero {
// 	border-radius: 10px;
// 	border: solid black;
// 	justify-content: space-between;
// 	align-items: center;
// }
// .titulo {
// 	color: white;
// 	border: solid white;
// 	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
// 	justify-content: center;
// 	text-align: center;
// 	gap: 2rem;
// 	&_leones {
// 		padding: 20px;
// 		color: black;
// 		background-color: rgba(0, 0, 255, 0.598);
// 	}
// }
// .navbar-expand {
// 	padding: 20px;
// 	background-color: rgb(88, 21, 21);
// }
// .container-fluid {
// 	padding: 30px;
// 	background-color: rgb(88, 21, 21);
// 	display: flex;
// 	align-items: center;
// }
// .navbar-collapse {
// 	justify-content: end;
// }
// .seccionPrincipal {
// 	background-image: url("../imagenes/jugada\ juego\ ibague\ 1.jpg");
// 	background-size: cover;
// 	height: 100vh;
// 	font-family: monospace;
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	h2 {
// 		color: white;
// 		background-color: rgba(0, 0, 0, 0.271);
// 		padding: 30px;
// 		border-radius: 30px;
// 		&:hover {
// 			transform: scale(1.6);
// 		}
// 	}
// }
// .aval {
// 	padding: 100px;
// 	h2 {
// 		margin-bottom: 50px;
// 		text-align: center;
// 		font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
// 	}
// }
// .conocenos {
// 	padding: 100px;
// 	&_1 {
// 		margin-bottom: 40px;
// 		text-align: center;
// 		color: white;
// 		background-color: rgb(88, 21, 21);
// 		padding: 30px;
// 		border-radius: 20px;
// 		font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
// 	}
// }
// .quienes {
// 	background-image: url("../imagenes/reunion\ imdri.jpeg");
// 	background-size: cover ;
// 	height: 90vh;
// 	display: flex;
// 	display: grid;
// 	grid-template-columns: 1fr 1fr   ;
// 	grid-template-areas: ".texto";
// 	&_texto {
// 		grid-area: texto;
// 		color: white;
// 		font-size: italic;
// 		background-color: rgba(24, 24, 113, 0.499);
// 		padding: 20px;
// 		text-align: center;
// 	}
// 	&:hover {
// 		transform: translate(0,-25px) ;
// 	}
// }
// .quienes {
// 	transition: 1sg;
// }
// .clubes {
// 	padding: 100px;
// 	h2 {
// 		margin-bottom: 40px;
// 		text-align: center;
// 		color: white;
// 		background-color: rgb(88, 21, 21);
// 		padding: 30px;
// 		border-radius: 20px;
// 		font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
// 	}
// }
// .orgullo {
// 	color: white;
// 	padding: 90px;
// 	margin-bottom: 30px;
// 	font-weight: bold;
// 	font-size: 20px;
// 	text-align: center;
// 	line-height: 70px;
// 	font-family: monospace;
// 	background-image: url("../imagenes/club\ orgullo\ tolimense\ masculino");
// 	background-repeat: no-repeat;
// 	background-position: top center;
// 	background-size: cover;
// 	background-attachment: fixed;
// 	&_texto {
// 		background-color: rgba(0, 0, 0, 0.558);
// 		padding: 30px;
// 		border-radius: 20px;
// 	}
// }
// .h2_orgullo {
// 	font-family: monospace;
// }
// .enlace {
// 	color: white;
// 	border-radius: 20px;
// 	padding: 3px;
// 	background-color: rgba(165, 42, 42, 0.824);
// 	&_2 {
// 		color: white;
// 		border-radius: 20px;
// 		padding: 3px;
// 		background-color: rgba(165, 42, 42, 0.824);
// 	}
// 	&_f {
// 		color: white;
// 		&:hover {
// 			transform: scale(1.3);
// 		}
// 	}
// 	&_f {
// 		color: white;
// 	}
// 	&_f {
// 		transition: 1s;
// 	}
// 	&_f {
// 		color: white;
// 	}
// 	&_f {
// 		color: white;
// 	}
// }
// .formulario {
// 	padding: 30px;
// 	background-color: rgba(255, 192, 203, 0.829);
// 	border-radius: 16px;
// 	h4 {
// 		margin-bottom: 40px;
// 		text-align: center;
// 		color: white;
// 		background-color: rgb(88, 21, 21);
// 		padding: 30px;
// 		border-radius: 20px;
// 	}
// }
// .jueces {
// 	padding: 100px;
// 	h2 {
// 		margin-bottom: 40px;
// 		text-align: center;
// 		color: white;
// 		background-color: rgb(88, 21, 21);
// 		padding: 30px;
// 		border-radius: 20px;
// 	}
// }
// .JUGADORES {
// 	text-align: center;
// 	background-color: rgba(255, 192, 203, 0.829);
// }
// .grid_2 {
// 	display: grid;
// 	grid-template-columns: 4fr 4fr 4fr 4fr 4fr;
// 	div {
// 		padding: 16px;
// 		img {
// 			width: 100%;
// 			&:hover {
// 				transform: scale(1.4);
// 			}
// 		}
// 		img {
// 			transition: 1s;
// 		}
// 	}
// }
// .footer {
// 	color: white;
// 	background-color: rgb(88, 21, 21);
// 	padding: 20px;
// 	display: flex;
// 	justify-content: space-between;
// 	align-items: center;
// 	flex-wrap: wrap;
// }
// .logo {
// 	width: 50px;
// 	border-radius: 10px ;
// 	border: solid black;
// }
// .entes {
// 	background-image: url("../imagenes/gerente\ de\ indeportes\ y\ niños.jpeg");
// 	background-size: cover;
// 	height: 100vh;
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	h2 {
// 		color: white;
// 		background-color: rgba(0, 0, 0, 0.171);
// 		padding: 30px;
// 		border-radius: 30px;
// 	}
// }
// .grid {
// 	background-color: rgba(0, 0, 255, 0.521);
// 	display: grid;
// 	grid-template-columns: 4fr 4fr 4fr 4fr 4fr;
// 	div {
// 		border: 2px solid black;
// 		padding: 16px;
// 		img {
// 			width: 100%;
// 			&:hover {
// 				transform: scale(3.5);
// 			}
// 			&:hover {
// 				transform: scale(1.5);
// 			}
// 		}
// 		img {
// 			transition: 1s;
// 		}
// 		img {
// 			width: 10vh;
// 		}
// 		img {
// 			transition: 1s;
// 		}
// 		img {
// 			width: 8vh;
// 		}
// 	}
// 	&_2 {
// 		display: grid;
// 		grid-template-columns: 4fr ;
// 	}
// }
// .colombia {
// 	padding: 30px;
// 	color: white;
// 	background-color: rgb(88, 21, 21);
// 	display: grid;
// 	grid-template-areas: ".texto";
// 	&_texto {
// 		grid-area: texto;
// 		color: black;
// 		background-color: rgba(255, 192, 203, 0.829);
// 		padding: 16px;
// 	}
// }
// .borde {
// 	border-bottom: 2px solid black;
// 	margin-bottom: 10px;
// 	padding-bottom: 10px;
// }
// .footer {
// 	color: white;
// 	background-color: rgb(88, 21, 21);
// 	padding: 20px;
// 	display: flex;
// 	justify-content: space-between;
// 	align-items: center;
// 	flex-wrap: wrap;
// }
// .nosotros {
// 	padding: 30px;
// 	color: white;
// 	background-color: rgba(0, 0, 255, 0.61);
// 	display: grid;
// 	grid-template-areas: ".texto";
// 	&_texto {
// 		grid-area: texto;
// 		color: black;
// 		background-color: rgba(255, 192, 203, 0.829);
// 		padding: 16px;
// 	}
// }
// .borde {
// 	border-bottom: 2px solid black;
// 	margin-bottom: 10px;
// 	padding-bottom: 10px;
// }
// .evento {
// 	padding: 100px;
// 	h2 {
// 		margin-bottom: 40px;
// 		text-align: center;
// 		color: white;
// 		background-color: rgb(88, 21, 21);
// 		padding: 30px;
// 		border-radius: 20px;
// 	}
// }
// .videos_q {
// 	width: 100%;
// 	aspect-ratio: 16;
// }
// .footer {
// 	color: white;
// 	background-color: rgb(88, 21, 21);
// 	padding: 20px;
// 	display: flex;
// 	justify-content: space-between;
// 	align-items: center;
// 	flex-wrap: wrap;
// }
// .leones {
// 	padding: 30px;
// 	color: white;
// 	display: grid;
// 	grid-template-areas: "texto";
// 	&_texto {
// 		display: flex;
// 		grid-area: texto;
// 		color: white;
// 		background-color: rgba(0, 0, 0, 0.418);
// 		padding: 40px;
// 		border-radius: 20px;
// 	}
// }
// .leones {
// 	color: white;
// 	padding: 100px;
// 	margin-bottom: 30px;
// 	font-size: italic;
// 	font-weight: bold;
// 	font-size: 20px;
// 	font-family: monospace;
// 	text-align: center;
// 	line-height: 70px;
// 	background-image: url("../imagenes/club\ leones\ foto\ portada.jpg");
// 	background-repeat: no-repeat;
// 	background-position: top center;
// 	background-size: cover;
// 	background-attachment: fixed;
// }
// .club_orgullo {
// 	display: flex;
// 	flex-wrap: wrap;
// 	gap: 10px;
// 	transition: 1s;
// 	width: 100%;
// 	&:hover {
// 		transform: translate(0, -25px);
// 	}
// }
// .tolimense {
// 	padding: 30px;
// 	color: white;
// 	display: flex;
// 	background-color: rgba(0, 0, 255, 0.61);
// 	display: grid;
// 	grid-template-areas: "texto";
// }
// .mujeres_o {
// 	width: 100%;
// }
// .card-header {
// 	background-color: rgba(0, 0, 255, 0.606);
// 	color: white;
// 	padding: 20px;
// 	font-size: 25px;
// }
// .cardmin-img-top {
// 	width: 40rem;
// }
// .foto_jugador {
// 	color: white;
// 	padding: 100px;
// 	margin-bottom: 30px;
// 	border-radius: 20px;
// 	font-size: italic;
// 	font-weight: bold;
// 	font-size: 20px;
// 	font-family: monospace;
// 	text-align: center;
// 	line-height: 70x;
// 	background-image: url("../imagenes/jugador\ slt.jpg");
// 	background-repeat: no-repeat;
// 	background-position: top center;
// 	background-size: cover;
// 	background-attachment: fixed;
// }
// .title_contacto {
// 	background-color: rgba(0, 0, 0, 0.478);
// 	color: white;
// 	text-align: center;
// 	padding: 10px;
// }
// .footer {
// 	color: white;
// 	background-color: rgb(88, 21, 21);
// 	padding: 20px;
// 	display: flex;
// 	justify-content: space-between;
// 	align-items: center;
// 	flex-wrap: wrap;
// }
// .logo {
// 	width: 50px;
// 	border-radius: 10;
// 	border-color: black;
// }
// @media screen and (max-width:1000px){


//     .seccionPrincipal{
// 	background-image: url("../imagenes/FOTO\ DIRIGIENDO\ W..jpg");
// 	background-size: cover;
// 	height: 20vh;
// 	font-family: monospace;
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// }
// .quienes {
// 	background-image: url("../imagenes/reunion\ imdri.jpeg");
// 	background-size: cover;
// 	height: 20vh;
// 	display: flex;
// 	display: grid;
// 	grid-template-columns: 1fr;
// 	grid-template-areas: "texto";
// }
// .entes {
// 	background-image: url("../imagenes/reunion\ de\ acuerdo\ ind.jpeg");
// 	height: 20vh;
// }
// .grid {
// 	background-color: white;
// 	display: grid;
// 	grid-template-columns: 2fr ;
// }
// .orgullo_texto{
//     background-color: rgba(0, 0, 0, 0.558);
//     padding: 10px;
//     border-radius: 10px;

// }
// .videos_q {
// 	width: 100%;
// 	aspect-ratio: 1;
// 	flex-direction: column;
// }
// .leones {
// 	line-height: 30px;
// 	background-repeat: no-repeat;
// 	background-position: top center;
// 	background-size: cover;
// 	background-attachment: fixed;
// }
// .card-group {
// 	flex-direction: column;
// }
// .container {
// 	flex-direction: column;
// }
// .cardmin-img-top {
// 	width: 25rem;
// 	align-items: center;
// }

// }

// @media (min-width: 768px) { 
// .orgullo{
// 	color: white;
// 	padding: 100px;
// 	margin-bottom: 30px;
// 	font-weight: bold;
// 	font-size: 20px;
// 	text-align: center;
// 	line-height: 20px;
// 	font-family: monospace;
// 	background-image: url("../imagenes/club\ orgullo\ tolimense\ masculino");
// }
// .d-flex {
// 	flex-direction: column;
// }
// .videos_q {
// 	width: 100%;
// 	aspect-ratio: 1;
// 	flex-direction: column;
// }
// .ratio_ {
// 	flex-direction: column;
// }
// .card {
// 	flex-direction: column;
// }
// }





/* Estilos generales */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Estilos de la barra de navegación */
.logo-primero {
	border-radius: 10px;
	border: solid black;
	justify-content: space-between;
	align-items: center;
}

/* Estilos del título */
.titulo {
	color: white;
	border: solid white;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	justify-content: center;
	text-align: center;
	gap: 2rem;
}

.titulo_leones {
	padding: 20px;
	color: black;
	background-color: rgba(0, 0, 255, 0.598);
}

/* Estilos de la barra de navegación */
.navbar-expand {
	padding: 20px;
	background-color: rgb(88, 21, 21);
}

/* Estilos del contenedor principal */
.container-fluid {
	padding: 30px;
	background-color: rgb(88, 21, 21);
	display: flex;
	align-items: center;
}

/* Estilos de la barra de navegación colapsada */
.navbar-collapse {
	justify-content: end;
}

/* Estilos de la sección principal */
.seccionPrincipal {
	background-image: url("../imagenes/jugada\ juego\ ibague\ 1.jpg");
	background-size: cover;
	height: 100vh;
	font-family: monospace;
	display: flex;
	justify-content: center;
	align-items: center;

	h2 {
		color: white;
		background-color: rgba(0, 0, 0, 0.271);
		padding: 30px;
		border-radius: 30px;

		&:hover {
			transform: scale(1.6);
		}
	}
}

/* Estilos de la sección de aval */
.aval {
	padding: 100px;
}

/* Estilos de la sección de conocenos */
.conocenos {
	padding: 100px;

	.conocenos_1 {
		margin-bottom: 40px;
		text-align: center;
		color: white;
		background-color: rgb(88, 21, 21);
		padding: 30px;
		border-radius: 20px;
		font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	}
}

/* Estilos de la sección de quienes somos */
.quienes {
	background-image: url("../imagenes/reunion\ imdri.jpeg");
	background-size: cover;
	height: 90vh;
	display: flex;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: ".texto";

	.quienes_texto {
		grid-area: texto;
		color: white;
		font-size: italic;
		background-color: rgba(24, 24, 113, 0.499);
		padding: 20px;
		text-align: center;
	}

	&:hover {
		transform: translate(0,-25px);
	}
}

/* Estilos de la sección de clubes */
.clubes {
	padding: 100px;

	h2 {
		margin-bottom: 40px;
		text-align: center;
		color: white;
		background-color: rgb(88, 21, 21);
		padding: 30px;
		border-radius: 20px;
		font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	}
}

/* Estilos de la sección de orgullo */
.orgullo {
	color: white;
	padding: 90px;
	margin-bottom: 30px;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	line-height: 70px;
	font-family: monospace;
	background-image: url("../imagenes/club\ orgullo\ tolimense\ masculino");
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	background-attachment: fixed;

	.orgullo_texto {
		background-color: rgba(0, 0, 0, 0.558);
		padding: 30px;
		border-radius: 20px;
	}
}

/* Estilos de los enlaces */
.enlace {
	color: white;
	border-radius: 20px;
	padding: 3px;
	background-color: rgba(165, 42, 42, 0.824);

	&:hover {
		transform: scale(1.3);
	}

	& {
		transition: 1s;
	}
}

/* Estilos del formulario */
.formulario {
	padding: 30px;
	background-color: rgba(255, 192, 203, 0.829);
	border-radius: 16px;

	h4 {
		margin-bottom: 40px;
		text-align: center;
		color: white;
		background-color: rgb(88, 21, 21);
		padding: 30px;
		border-radius: 20px;
	}
}

/* Estilos de la sección de jueces */
.jueces {
	padding: 100px;

	h2 {
		margin-bottom: 40px;
		text-align: center;
		color: white;
		background-color: rgb(88, 21, 21);
		padding: 30px;
		border-radius: 20px;
	}
}

/* Estilos de los jugadores */
.JUGADORES {
	text-align: center;
	background-color: rgba(255, 192, 203, 0.829);

	.grid_2 {
		display: grid;
		grid-template-columns: repeat(5, 1fr);

		div {
			padding: 16px;

			img {
				width: 100%;

				&:hover {
					transform: scale(1.4);
				}

				transition: 1s;
			}
		}
	}
}

/* Estilos del pie de página */
.footer {
	color: white;
	background-color: rgb(88, 21, 21);
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;

	.logo {
		width: 50px;
		border-radius: 10px;
		border: solid black;
	}
}

/* Media Queries */
@media screen and (max-width: 1000px) {
	/* Estilos para pantallas pequeñas */
	.seccionPrincipal {
		background-image: url("../imagenes/FOTO\ DIRIGIENDO\ W..jpg");
		background-size: cover;
		height: 20vh;
	}

	.quienes {
		background-image: url("../imagenes/reunion\ imdri.jpeg");
		background-size: cover;
		height: 20vh;
		display: grid;
	}
}

	/* Estilos de la sección de aval */
	.aval {
	  padding: 100px;
	  h2 {
		margin-bottom: 50px;
		text-align: center;
		font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	  }
	}
  
	/* Estilos de la sección de conocenos */
	.conocenos {
	  padding: 10px;
	  width: 100%;
  
	  &_1 {
		margin-bottom: 40px;
		text-align: center;
	
		border-radius: 20px;
		font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	  }
	}
	.card {
	width: 100% ;/* Ajustar el ancho de las tarjetas al 100% */
	margin-bottom : 20px /* Agregar espacio entre las tarjetas */
	}
	/* Estilos de la sección de quienes somos */
	.quienes {
	  background-image: url("../imagenes/reunion\ imdri.jpeg");
	  background-size: cover;
	  height: 90vh;
	  display: flex;
	  display: grid;
	  grid-template-columns: 1fr 1fr;
	  grid-template-areas: ".texto";
  
	  &_texto {
		grid-area: texto;
		color: white;
		font-size: italic;
		background-color: rgba(24, 24, 113, 0.499);
		padding: 20px;
		text-align: center;
	  }
  
	  &:hover {
		transform: translate(0,-25px);
	  }
	}
  
	.quienes {
	  transition: 1s;
	}
  
	/* Estilos de la sección de clubes */
	.clubes {
	  padding: 100px;
  
	  h2 {
		margin-bottom: 40px;
		text-align: center;
		color: white;
		background-color: rgb(88, 21, 21);
		padding: 30px;
		border-radius: 20px;
		font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	  }
	}
  
	/* Estilos de la sección de orgullo */
	.orgullo {
	  color: white;
	  padding: 90px;
	  margin-bottom: 30px;
	  font-weight: bold;
	  font-size: 20px;
	  text-align: center;
	  line-height: 70px;
	  font-family: monospace;
	  background-image: url("../imagenes/club\ orgullo\ tolimense\ masculino");
	  background-repeat: no-repeat;
	  background-position: top center;
	  background-size: cover;
	  background-attachment: fixed;
  
	  &_texto {
		background-color: rgba(0, 0, 0, 0.558);
		padding: 30px;
		border-radius: 20px;
	  }
	}
  
	.h2_orgullo {
	  font-family: monospace;
	}
  
	/* Estilos de los enlaces */
	.enlace {
	  color: white;
	  border-radius: 20px;
	  padding: 3px;
	  background-color: rgba(165, 42, 42, 0.824);
  
	  &_2 {
		color: white;
		border-radius: 20px;
		padding: 3px;
		background-color: rgba(165, 42, 42, 0.824);
	  }
  
	  &_f {
		color: white;
  
		&:hover {
		  transform: scale(1.3);
		}
	  }
  
	  &_f {
		color: white;
	  }
  
	  &_f {
		transition: 1s;
	  }
  
	  &_f {
		color: white;
	  }
  
	  &_f {
		color: white;
	  }
	}
  
 