@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.encabezado {
    padding: 30px;
    background-color: rgb(88, 21, 21);

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap ;
    
}

.menu{
    list-style-type: none;
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
}
.logo{
    
    width:50px;
    border: 50px;
    border:solid black;  
}

.titulo{
    color: white;
    border: solid white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.menu_item a {
    color: white;
   
    
}
.nav-item-quienes{
    color: white;
}


/* SECCIONES */

.seccionPrincipal {
    
    background-image: url("../imagenes/FOTO\ DIRIGIENDO\ W..jpg");
    background-size: cover;
    height: 100vh;
    font-family: monospace;

    display: flex;
    justify-content: center;
    align-items: center;
   

}

.seccionPrincipal h2 {
    color:white;
    background-color: rgba(0, 0, 0, 0.271);
    padding: 30px;
    border-radius: 30px;
   
}

.seccionPrincipal h2:hover{
    transform: scale(1.6);
}
/* SECCION AVAL */
.aval{
    padding: 100px;

}


.aval h2{
    margin-bottom: 40px;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.tarjetas{
    display: flex;
    gap: 290px
  

    
}
.tarjetas{
    position:relative;
}

.tarjetas_imagen{
    width: 100%;
}

.tarjeta_titulo{
    position: absolute;
    bottom: 20px;
    left: 150px;

    color:white;
    background-color:  rgba(36, 31, 31, 0.445);
    padding: 30px;
    border-radius: 20px;

}
.tarjeta_titulo:hover{
    transform: scale(1.3);
}

/* seccion3 */

.quienes{
    background-image: url("../imagenes/FOTO\ SLT.B.jpg");
    background-size:cover ;
    height: 100vh;
    display: flex;

    display:grid;
    grid-template-columns: 1fr 1fr  ;
    grid-template-areas:
    ".texto";


}
.quienes{
    transition: 1sg;
}
.quienes:hover{
    transform: translate(0,-25px) ;
    
}

.quienes_texto{
    grid-area: texto;
    color:white;
    font-size: italic;
    background-color:  rgba(24, 24, 113, 0.782);
    padding: 9px;

    
}

.borde{
    border-bottom: 2px solid white;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

/* SECCION 4 */

.clubes{
    padding: 100px;  
    
}


.clubes h2{
    margin-bottom: 40px;
    text-align:center;
    color: white;
    background-color: rgb(88, 21, 21);
    padding: 30px;
    border-radius: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;


}


.orgullo {
    
    color:white;


    padding: 100px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    line-height: 70x;
    
    font-family: monospace;

    background-image: url("../imagenes/club\ orgullo\ tolimense\ masculino");
    background-repeat:no-repeat;
    background-position:top center;
    background-size:cover;
    background-attachment: fixed;
}
.orgullo_texto{
    background-color: rgba(0, 0, 0, 0.558);
    padding: 30px;
    border-radius: 20px;

}

.h2_orgullo{
    font-family: monospace;

}

.enlace{
    color: white;   
     border-radius: 20px;
     padding: 3px;
    background-color: rgba(165, 42, 42, 0.824);
}

/* seccion 4 */
.formulario{
    padding: 30px;  
   
    background-color: rgba(255, 192, 203, 0.829);
    border-radius: 16px;
    
}

.formulario h4{
    margin-bottom: 40px;
    text-align:center;
    color: white;
    background-color: rgb(88, 21, 21);
    padding: 30px;
    border-radius: 20px;


}  
 


/* se decora seccion de formulario */
/* SECCION DE JUECES */

.jueces{
    padding: 100px;   
    
}

.jueces h2{
    margin-bottom: 40px;
    text-align:center;
    color: white;
    background-color: rgb(88, 21, 21);
    padding: 30px;
    border-radius: 20px;


}  

.enlace_2{
    color: white;   
     border-radius: 20px;
     padding: 3px;
    background-color: rgba(165, 42, 42, 0.824);
}
/* SE INCLUYE INFORMACION NUEVA COLEGIO DE JUECES */

.jueces{
    text-align: center;
}
.card4{
    
    display: flex;
    gap: 50px;
    

}

.tarjeta4{
    position: relative;
    justify-content: center;
    background-color:white;
    
}

.card4_imagen{
    width: 100%;
    border-radius: 10px;

}
.tarjeta4{
    transition: 1s;
}
.tarjeta4:hover{
    transform:scale(1.2) ;
}

/* SE AÑADE SECCION DE JUAGADORES  */

.JUGADORES{
   text-align: center;
   background-color: rgba(255, 192, 203, 0.829);

}

.grid_2{
    display: grid;grid-template-columns: 4fr 4fr 4fr 4fr 4fr;


}


.grid_2 div {
    padding: 16px;
}

.grid_2 div img{
    width: 100%;
    

}
.grid_2 div img{
    transition: 1s;
}
.grid_2 div img:hover{
    transform: scale(1.6);
}



.footer{
    color: white;
    background-color:  rgb(88, 21, 21);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
.enlace_f{
    color: white;
}
/* AVALDO PAGINA 2 */




    
.encabezado {
    padding: 30px;
    background-color: rgb(88, 21, 21);

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    list-style-type: none;
    display: flex;
    gap: 18px;
}

.logo{
    
    width:50px;
    border: 50px;
    border:solid rgb(0, 0, 0);
    

}


.entes {
    
    background-image: url("../imagenes/gerente\ de\ indeportes\ y\ niños.jpeg");
    background-size: cover;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
   
}

.entes h2 {
    color:white;
    background-color: rgba(0, 0, 0, 0.171);
    padding: 30px;
    border-radius: 30px;
   
}
.grid{
    background-color: rgba(0, 0, 255, 0.521);


    display: grid;grid-template-columns: 4fr 4fr 4fr 4fr 4fr;
    


}
.grid div {
    border: 2px solid black;
    padding: 16px;
}

.grid div img{
    width: 100%;
    

}
.grid div img{
    transition: 1s;
}
.grid div img:hover{
    transform: scale(1.3);
}
/* seccion de conoce mas  */




.colombia{
    padding: 30px;
    color: white;
    background-color: rgb(88, 21, 21);
    display:grid;
    grid-template-areas:
    ".texto";
    
   

}
.colombia_texto{
    grid-area:texto;
    color:black;
    background-color: rgba(255, 192, 203, 0.829);
    padding: 16px;
     

}
.borde{
    border-bottom:2px solid black;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.footer{
    color: white;
    background-color:  rgb(88, 21, 21);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
.enlace_f{
    color: white;
}
.enlace_f{
    transition: 1s;
}
.enlace_f:hover{
    transform: scale(1.3);
}
/* PAGINA 3  */



.encabezado {
    padding: 30px;
    background-color: rgb(88, 21, 21);

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.menu{
    list-style-type: none;
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
}

.logo{
    
    width:50px;
    border: 50px;
    border:solid black;
    

}
/* seccion 1 pagina 3 */
.nosotros{
    padding: 30px;
    color: white;
    background-color:rgba(0, 0, 255, 0.61);
    display:grid;
    grid-template-areas:
    ".texto";
    
   

}
.nosotros_texto{
    grid-area:texto;
    color:black;
    background-color: rgba(255, 192, 203, 0.829);
    padding: 16px;
     

}
.borde{
    border-bottom:2px solid black;
    margin-bottom: 10px;
    padding-bottom: 10px;
}


/* seccion 2 pagina 3 */



.evento{
    padding: 100px;   
    
}
.card-header{
    text-align: center;
}

.evento h2{
    margin-bottom: 40px;
    text-align:center;
    color: white;
    background-color: rgb(88, 21, 21);
    padding: 30px;
    border-radius: 20px;


}

    

.footer{
    color: white;
    background-color:  rgb(88, 21, 21);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
.enlace_f{
    color: white;
}


/* PAGINA DE CLUBES AFILIADOS  */

.encabezado {
    padding: 30px;
    background-color: rgb(88, 21, 21);

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    list-style-type: none;
    display: flex;
    gap: 18px;
}

.logo{
    
    width:50px;
    border: 50px;
    border:solid black;
    

}
/* SECCION DE CLUB LEONES  */

.leones{
    padding: 30px;
    color: white;
    display: grid;
    grid-template-areas:
    "texto";
    
   

}
.leones{
    
    color:white;

    
    padding: 100px;
    margin-bottom: 30px;
    font-size: italic;
    font-weight: bold;
    font-size: 20px;
    font-family: monospace;
    text-align: center;
    line-height: 70x;
    

    background-image: url("../imagenes/club\ leones\ foto\ portada.jpg");
    background-repeat:no-repeat;
    background-position:top center;
    background-size:cover;
    background-attachment: fixed;
}

.leones_texto{
    display: flex;
    grid-area:texto;
    color:white;
    background-color: rgba(0, 0, 0, 0.418);
padding: 40px;
border-radius: 20px;


}

.titulo_leones{
    padding: 20px;
    color: black;
    background-color: rgba(0, 0, 255, 0.598);
}
/* seccion del club orgullo tolimense */

.club_orgullo{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    transition: 1s;
    width: 100%;
    


}
.club_orgullo:hover{
    transform: translate(0, -25px);

}

.tolimense{
    padding: 30px;
    color: white;
    display: flex;
    background-color: rgba(0, 0, 255, 0.61);
    display: grid;
    grid-template-areas:
    "texto";
}

.mujeres_o{
    width: 100%;
}

.card-header{
    background-color: rgba(0, 0, 255, 0.606);
    color: white;
    padding: 20px;
    font-size: 25px;
}
    
/* modificacion de css de jueces y contacto */

.encabezado {
    padding: 30px;
    background-color: rgb(88, 21, 21);

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap ;
    
}

.menu{
    list-style-type: none;
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
}


.logo{
    
    width:50px;
    border: 50px;
    border:solid black;
    
}

.titulo{
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: solid white;
}

.menu_item a {
    color: white;
    text-decoration: none;
    
}


.foto_jugador {
    
    color:white;
    
    padding: 100px;
    margin-bottom: 30px;
    border-radius: 20px;
    font-size: italic;
    font-weight: bold;
    font-size: 20px;
    font-family: monospace;
    text-align: center;
    line-height: 70x;
    
    background-image: url("../imagenes/jugador\ slt.jpg");
    background-repeat:no-repeat;
    background-position:top center;
    background-size:cover;
    background-attachment: fixed;
}
 .title_contacto{
    background-color: rgba(0, 0, 0, 0.696);
    color: white;
    text-align: center;
    padding: 16px;
 }



/* 
FINAL DE PAGINA  */
.footer{
    color: white;
    background-color:  rgb(88, 21, 21);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
.enlace_f{
    color: white;
}

/* se añade css de contacto  */


/* media queries */


/* // Small devices (landscape phones, 576px and up) */

@media screen and (max-width:576){
 
}
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

